@font-face {
  font-family: 'Proxima Nova';
  src: url('proxima-nova-light.woff2') format('woff2'),
        url('proxima-nova-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('proxima-nova-regular.woff2') format('woff2'),
        url('proxima-nova-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('proxima-nova-semibold.woff2') format('woff2'),
        url('proxima-nova-semibold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('proxima-nova-bold.woff2') format('woff2'),
        url('proxima-nova-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}